p {
    font-family: Corbel;
    font-size: 14px;
}

titrepageo {
    font-family: Times New Roman;
}

credit {
    border-style: solid;
    border-width: 4px;
    border-color: antiquewhite;
    border-radius: 24px;
    padding: 5px;
    direction: column;
    align-items: center;
}

credittxt {
    font-size: 8px;
}