p {
    font-family: Corbel;
    font-size: 14px;
}

titrepageo {
    font-family: Times New Roman;
}

credit {
    direction: row;
    align-items: center;
}

credittxt {
    font-size: 8px;
}